<!--
 Name: Shivam Janda
 Date: December 12, 2022
 Description: Failure screen webpage
-->
@{
    ViewData["Title"] = "FailureScreen";
}

<!-- Linking the css design sheet (site.css)-->
<head>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<div class="text-center">
    <h1 class="display">Workout Logger</h1>
    <h2 class="display2">Faliure!</h2>
    <p>
        Failed! Please enter the input again.
    </p>
</div>
