<!--
 Name: Shivam Janda
 Date: December 12, 2022
 Description: Nutrional Advice page of the website.
-->
@{
    ViewData["Title"] = "Nutrional Advice";
}

<!-- Using the site.css sheet-->
<head>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>


<!--Nutrional Advice explanation below-->
<!--Information was taken from"https://builtwithscience.com/"-->

<h2>Meal Frequency and Meal Timing:</h2>

<h3>Meal Frequency:</h3>
<p>I’d advise sticking to around 4 meals spaced out throughout the day while making an effort to include a protein source in every meal.</p>
<p>This allows you to spike protein synthesis throughout the day and makes it easier to get all of your calories in.</p>
<p>And for those utilizing intermittent fasting, although it won’t be optimal in terms of protein synthesis throughout the day, it likely won’t make a difference in the long run. So if you enjoy intermittent fasting and it works well with your schedule to eat just 2-3 meals a day when you transition to your dieting phase, then don’t feel the need to stop since you can’t optimize your meal frequency - in fact, the benefits of fasting may even override the benefits of optimizing your meal frequency (we don't know as of yet - research is inconclusive at the moment)!</p>
<b>Total daily protein intake is most important in the long term!</b>


<h3>Meal Timing:</h3>
<p>The two main meals you should put into more consideration are your:</p>
<li> 1. Pre-workout meal</li>
<li> 1. Post-workout meal</li>

<h4> Pre-workout Meal:</h4>
<p>In order to achieve these goals, your pre-workout meal should consist of some form of protein with carbs and should be eaten within 2 hours before your workout. This could be a shake with whey protein powder and a piece of fruit. </p>


<h4> Post-workout Meal:</h4>
<p>
    Generally, the same food recommendations as the pre-workout meal apply to the post-workout meal as well. Intake adequate protein, carbs, and feel free to include some fat as well.
</p>

<h3>Supplements:</h3>

<h4>Whey Isolate Protein:</h4>
<p>
    Adequate daily protein is essential when it comes to maintaining/increasing your muscle mass while losing fat. But this can be expensive and difficult to do for a lot of people. This is where protein powder comes in handy. It’s a cheap and convenient way to boost your protein intake for the day. It is NOT necessary if you get enough protein through your diet alone – but since most people struggle with that (especially during a fat loss phase since you’re intaking less calories), supplementing with protein is recommended.
</p>

<h3>Creatine:</h3>
<p>Creatine is heavily backed by research and can help improve strength gains. It doesn’t act immediately, meaning that taking it before your workout won’t provide any immediate effect on that workout. It works by gradually increasing your energy stores over time. Although increased creatine stores in the muscle will occur relatively quickly, the long-term benefits of performance and/or increased muscular size may take weeks or months to become apparent.</p>


<h3> Omega -3's (Fish Oils): </h3>

<p>mega-3 fish oil pills are another supplement definitely worth considering, even if you consume a few servings of fish/seafood a week. Not only have they been shown to reduce muscle soreness and enhance the muscle recovery process, but they’ve also been recently shown to enhance anabolic signaling which may lead to better muscle muscle growth/maintenance</p>