<!--
 Name: Shivam Janda
 Date: December 12, 2022
 Description: The Big 6 policy page of the website.
-->
@{
    ViewData["Title"] = "The Big 6";
}
<!-- Using the site.css sheet-->
<head>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>


<h1 style="text-align:center">The big 6 are six big compound movement exercises that is a must do to build a asthetically appleasing physique</h1>
<p style="text-align:center">Below are tutorials on how to do these exercises with proper form to prevent injuries and to hit the right muscle group!</p>


<h2>Chest press</h2>

<!-- Youtube video -->
<!-- Youtube video from : https://youtu.be/QsYre__-aro -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/QsYre__-aro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<h2>Shoulder press</h2>
<!-- Youtube video -->
<!-- Youtube video from :https://youtu.be/qEwKCR5JCog -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/qEwKCR5JCog" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<h2>Squats</h2>
<!-- Youtube video -->
<!-- Youtube video from :https://youtu.be/U3HlEF_E9fo -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/U3HlEF_E9fo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<h2>Deadlifts</h2>
<!-- Youtube video -->
<!-- Youtube video from :https://youtu.be/ytGaGIn3SjE -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/ytGaGIn3SjE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<h2>Back Barbell Rows</h2>
<!-- Youtube video -->
<!-- Youtube video from :https://youtu.be/kBWAon7ItDw -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/kBWAon7ItDw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h2>Chin ups</h2>
<!-- Youtube video -->
<!-- Youtube video from :https://youtu.be/brhRXlOhsAM -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/brhRXlOhsAM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>